body {
	width: 600px;
	margin: auto;
	font-family: 'PT Sans', sans-serif;
}
@media only screen and (max-width: 767px) {
	body {
		width: 100%;
	}
}
.graph {
	width: 100%;
	height: 300px;
}
i.pirat {
	font-family: 'piratensymbolemedium';
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
}
.clear {
	clear: both;
}
header > h1 {
	float: left;
}
header > h1 > small {
	color: #aaa;
	font-size: 20px;
	border-left: 1px #aaa solid;
	padding-left: 10px;
}
header > #icons {
	float: right;
	margin-right: 20px;
	margin-top: 12px;
}
header > #icons > a {
	text-decoration: none;
	color: #000;
	font-size: 42px;
}
#twitter:hover {
	color: #00aced;
}
#github:hover {
	color: #aaa;
}
#piraten:hover {
	color: #aaa;
}
