<!DOCTYPE html>
<html>
<head>
	<title>LGS-Status</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width = device-width,maximum-scale=1,minimum-scale=1"/>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"/>
	<link rel="stylesheet" href="static/css/ppsym/stylesheet.css"/>
	<link rel="stylesheet" href="static/css/lgsstatus.css"/>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../static/vendors/jquery.flot.js"></script>
	<script type="text/javascript">
		var lgsStateData = {
			clients:null,
			doorState:null,
			temperature:null
		};
		lgsStateData.clients = {{ day["clients"] }};
		lgsStateData.temperature = {{ day["temperature"] }};
		lgsStateData.doorState = {{ day["door"] }};
	</script>
	<script type="text/javascript" src="../static/js/lgsStatePlotter.js"></script>
</head>
<body>
<header>
	<h1>LGS-Status
		<small>
			{{ current }}
		</small>
	</h1>
	<aside id="icons">
		<a id="twitter" href="https://twitter.com/LGSHH" target="_blank">
			<i class="icon-twitter"></i>
		</a>
		<a id="github" href="https://github.com/jupishamburg/LGSStatus" target="_blank">
			<i class="icon-github"></i>
		</a>
		<a id="piraten" href="https://www.piratenpartei-hamburg.de/" target="_blank">
			<i class="pirat">P</i>
		</a>
	</aside>
	<div class="clear"></div>
</header>
<h2>Tagesgraph</h2>
<div id="day" class="graph"></div>
</body>
</html>
