<!DOCTYPE html>
<html>
<head>
    <title>LGS-Status</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width = device-width,maximum-scale=1,minimum-scale=1"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"/>
    <link rel="stylesheet" href="../static/css/ppsym/stylesheet.css"/>
    <link rel="stylesheet" href="../static/css/lgsstatus.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../static/vendors/jquery.flot.js"></script>
</head>
<body>
    <h1>Metastatus des LGS-Status</h1>
    {% if is_kaput %}
    <div class="meta_status" style="color:red;">Kaputt m)</div>
    {% else %}
    <div class="meta_status" style="color:green;">Sollte funzen!</div>
    {% endif %}
</body>
</html>
