{
	"db": "lgs.db",
	
	"types": [
		"door",
		"clients",
		"temperature"
	],
	"keys": [
		"YOUR_PERSONAL_WEBSERVER_ACCESS_TOKEN"
	],
	"twitter": {
		"consumer-key":	"YOUR_CONSUMER_KEY",
		"consumer-secret": "YOUR_CONSUMER_SECRET",
		"access-token":	"YOUR_ACCESS_TOKEN",
		"access-secret": "YOUR_ACCESS_SECRET"
	}
}
