{
	"db": "lgs.db",
	
	"types": [
		"door",
		"clients",
		"temperature"
	],
	"keys": [
		"ieSohc0oochie6Reequungoo7quoza8NuRaing9una"
	],
	"twitter": {
		"consumer-key":		"nuw2nieJeth7ohsho0ex3Ahfaer9ieki",
		"consumer-secret":	"eiphohr5thah2iepaf0vaiQuoos1eini",
		"access-token":		"ToogeeCh0tae7oyeeB3daibas9Phahoy",
		"access-secret":	"eog2ooqu1muo7ooMoBooj5Ba2iZoh6eW",
	}
}
